body{
    margin: 0;
    background-image: linear-gradient(to right, #FFB6D9, #D67BFF);
}
.giphy-searcher {
    text-align: center;
}

.giphy-heading {
    color: blueviolet;
    font-style: italic;
    font-size: 3rem;
    text-decoration: underline;
    
}

.giphy-display {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;


}

input {
    display: inline-block;
    margin: 5px;
    height: 2rem;
    border-radius: 5px;
}

button {
    height: 2.4rem;
    width: 5rem;
    border-radius: 3px;
    background-color: #CAEDFF;
    color: #793FDF;
    font-size: 1rem;

}

#giphy-display img {
    margin: 10px auto 10px auto;
    border: 2px dotted blue;
    padding: 5px;
}